<!-- Every html file starts with <html> and ends with </html> like in this file -->
<!-- <p> begins paragraphs and </p> ends it -->
<!-- head contains all information that is config but still hided -->
<!-- body contains all information that is showed -->
<html>
    <head>
        <title>natalidesanti personal blog created at Django Girls</title> <!-- Title that appears on bar and bookmarks -->
    </head>
    <body>
      <!-- <div> and </div> defining a section in the page-->
        <div>
            <h1><a href="/">natalidesanti personal blog created at Django Girls </a></h1> <!-- h1 is used to main title -->
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2> <!-- h2 is used for a subtitle -->
            <p> <strong> Aenean </strong> eu leo quam. <br> Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	    <ul> <li>primeiro item</li>
	      <li>segundo item</li>
	    </ul>
	    <!-- <ul> and </ul> open and close a list environment. The itens are included with <li> blá </li> -->
	    <!-- strong makes black font -->
	    <!-- br is a line broke -->
        </div>

	{% for post in posts %}
        <div>
	  <p> publicado em: {{ post.published_date }} </p>
	  <h1><a href="">{{ post.title }}</a></h1>
	  <p> {{ post.text|linebreaksbr }} </p>    
        </div>
	{% endfor %}
    </body>
</html>
